*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
response.json
.DS_Store

# Demo and test files
test-invalid.txt
sunflower.jpeg
attributes.json
message.json
demo-script.sh
temp_status_update.json
mountain.jpeg
images/
status_update.json